:root {
  --background: #ffffff;
  --foreground: #ededed;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed;
    --foreground: #ededed;
  }
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
}
